{% if user_data["General comments"] %}
<h3>{{ user_data["Name"] }} had the following general comments</h3>
<div style="border-radius: 6px; border-color: #3F3F3F; background-color: #F8F8F8; font-style: italic; padding:1.2em">
    {{ user_data["General comments"] }}
</div>
{% endif %}

{% for (key, val) in insurance_data["Insurance information"].items() %}
<h3>{{ user_data["Name"] }} submitted the following request for {{ key }}</h3>
<ul>
    {% if val["no_file"] %}
    <li>
        Request for a <strong>new</strong> quote (no existing quote)
    </li>
    {% endif %}
    {% if insurance_data["Files"][key] %}
    <li>
        Request for a <strong>better</strong> quote
    </li>
    <li>
        Attached an existing quote named <i>{{ insurance_data["Files"][key] }}</i>
    </li>
    {% endif %}
</ul>
{% if val["additionalComments"] %}
<p>
    They also added the following query:
</p>
<div style="border-radius: 6px; border-color: #3F3F3F; background-color: #F8F8F8; font-style: italic; padding:1.2em">
    {{ val["additionalComments"] }}
</div>
{% endif %}
{% endfor %}


