<template>
    <div class="home">
        <info></info>
        <three-steps></three-steps>
        <!--views for each of the three steps-->
        <div id="steps-view">
            <tiles v-show="$store.state.step === 1"/>
            <forms v-show="$store.state.step === 2"/>
            <success v-show="$store.state.step === 3"/>
        </div>
        <contact></contact>
    </div>
</template>

<script>
// @ is an alias to /src
import Info from '@/components/Info.vue'
import ThreeSteps from '@/components/ThreeSteps'
import Tiles from '@/components/Tiles.vue'
import Forms from '@/components/Forms.vue'
import Success from '@/components/Success.vue'
import Contact from '@/components/Contact.vue'

export default {
  name: 'Home',
  components: {
    Contact,
    ThreeSteps,
    Tiles,
    Info,
    Forms,
    Success
  },
  beforeMount () {
    this.$store.dispatch('loadForms')
  }
}
</script>

<style lang="scss">

</style>
