<template>
    <section id="contact-view" class="section has-background-primary-grey">
        <div class="container has-text-centered has-padding-medium">
            <div class="column is-3">
            </div>
            <div class="column is-12">
                <h2 class="title">Contact an adviser</h2>
                <h3 class="subtitle">
                    Feel free to reach out to one of our unicorn advisers directly
                    at any time.
                </h3>
            </div>
            <div class="column is-12"></div>
            <div class="column is-12"></div>
            <div class="columns is-centered  is-vcentered ">
                <div class="column is-4"
                     @mouseover="hover = 'placeholder1'"
                     @mouseleave="hover = ''">
                    <div v-if="hover === 'placeholder1'" style="z-index:999; position: absolute"
                         class="columns is-unselectable">
                        <div class="column">
                            <span class="tag is-info">Coming soon...</span>
                        </div>
                    </div>
                    <div class="card placeholder">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="../assets/pug-unicorn.jpg"
                                     alt="profile image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../assets/unicorn.png"
                                             alt="profile image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Agent in training</p>
                                    <p class="subtitle is-6">Coming soon</p>
                                </div>
                            </div>

                            <div class="content">
                                Be patient, more unicorn agents are on their way!

                                <a href="#">#agentintraining</a>&nbsp;
                                <a href="#">#excitingstuff</a>&nbsp;
                                <a href="#">#watchthisspace</a>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="../assets/sean-profile-square.jpg"
                                     alt="profile image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../assets/sean-profile.jpg"
                                             alt="profile image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4 no-margin-bottom">Sean Todt</p>
                                    <div class="tags has-addons" v-clipboard:copy="'sean@surelife.co.za'"
                                         v-clipboard:success="successToast">
                                    <span class="tag is-small has-background-white" style="border:2px solid lightgrey">
                                        <span class="is-5 has-text-info has-text-weight-bold">
                                            sean@surelife.co.za</span>
                                    </span>
                                        <span class="tag is-small has-background-white"
                                              style="border:2px solid lightgrey">
                                        <span class="icon is-small">
                                            <i class="fas fa-1x fa-clipboard"></i>
                                        </span>
                                    </span>
                                    </div>

                                    <div class="tags has-addons" v-clipboard:copy="'0673727478'"
                                         v-clipboard:success="successToast">
                                    <span class="tag is-small has-background-white" style="border:2px solid lightgrey">
                                        <span class="is-5 has-text-info has-text-weight-bold">
                                            0673727478</span>
                                    </span>
                                        <span class="tag is-small has-background-white"
                                              style="border:2px solid lightgrey">
                                        <span class="icon is-small">
                                            <i class="fas fa-1x fa-clipboard"></i>
                                        </span>
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="content">
                                Independent financial adviser with
                                a focus on holistic financial and wellness management solutions.

                                <a href="#">#wealthcreation</a>&nbsp;
                                <a href="#">#financialindependence</a>&nbsp;
                                <a href="#">#holisticsolutions</a>
                                <br>
                                <br>
                                <i>Unicorn agent since:
                                    <time datetime="2016-1-1">03 May 2019</time>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-4"
                     @mouseover="hover = 'placeholder2'"
                     @mouseleave="hover = ''">
                    <div v-if="hover === 'placeholder2'" style="z-index:999; position: absolute"
                         class="columns is-unselectable">
                        <div class="column">
                            <span class="tag is-info">Coming soon...</span>
                        </div>
                    </div>
                    <div class="card placeholder">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="../assets/pug-unicorn.jpg"
                                     alt="profile image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="../assets/unicorn.png"
                                             alt="profile image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">Agent in training</p>
                                    <p class="subtitle is-6">Coming soon</p>
                                </div>
                            </div>

                            <div class="content">
                                Be patient, more unicorn agents are on their way!

                                <a href="#">#agentintraining</a>&nbsp;
                                <a href="#">#excitingstuff</a>&nbsp;
                                <a href="#">#watchthisspace</a>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'Contact',
  data () {
    return {
      'hover': ''
    }
  },
  methods: {
    successToast () {
      this.$toasted.show('Copied to clipboard!', {
        duration: 3000,
        position: 'bottom-center',
        type: 'success',
        icon: 'clipboard',
        iconPack: 'fontawesome',
        containerClass: 'customToast',
        className: 'customToast'
      })
    }
  }
}
</script>

<style scoped>
    .card-content .content {
        text-align: left;
    }

    .card {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    }

    .card:hover:not(.placeholder) {
        overflow: visible;
        border: 2px white solid;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.015);
    }

    .card.placeholder:hover:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.55);
    }

    .customToast {
        /*text-align: center;*/
        /*margin: auto;*/
    }

    .no-margin-bottom {
        margin-bottom: 0em;
    }

    a {
        color: #3298dc;
    }

    .has-background-primary-grey {
        background-color: rgba(173, 216, 230, 0.6);
        border-top: 2px solid rgba(173, 216, 230, 0.6)
    }

    .tags, .tag {
        margin-bottom: 0px;
    }

</style>
