<template>
    <div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p><strong>The Quote Unicorn &#169;</strong> was designed by <a @click="clicked = !clicked">DMT Web,
                    2020.</a></p>

                Iconography:
                <a href="https://www.flaticon.com/<?=_('authors').'/'?>pixel-perfect" title="Pixel perfect">Pixel
                    perfect</a>,
                <a href="https://smashicons.com/" title="Smashicons">Smashicons</a>
                from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>;
                licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
                    3.0 BY</a>
                <!--                Photo by Binyamin Mellish from Pexels-->

                <div v-if="clicked"
                     class="columns">
                    <div class="column is-6 is-offset-3">
                        <div class="notification">
                            <h5>Contact DMT Web</h5>
                            <span class="tag is-medium">Email: davistodt@gmail.com</span><br>
                            <span class="tag is-medium">Mobile: 084 604 6679</span></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
  name: 'Footer',
  data () {
    return {
      clicked: false
    }
  }
}
</script>

<style scoped>
    .footer {
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .notification {
        margin-top: 2em;
    }
</style>
