<template>
    <section id="forms-view" class="section has-background-white-ter">
        <div class="columns is-centered">
            <div class="column is-12">
                <div class="container">
                    <div class="columns">
                        <div class="column is-4 is-offset-4 no-top-padding">
                            <div class="down-arrow" v-show="$store.state.step === 2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container has-text-centered has-padding-medium has-min-top-padding">
            <div class="notification">
                <div class="column">
                    <figure class="image is-96x96 is-centered">
                        <img src="../assets/two.png">
                    </figure>
                </div>
                <div class="column is-3">
                </div>
                <h2 class="title">Submit your quote</h2>
                <h3 v-if="selectedTiles().length > 0" class="subtitle">
                    Fill in a few details and submit your existing quote(s) below.
                </h3>
                <template v-else>
                    <h3 class="subtitle">
                        <i>Please select at least one type of insurance from step one.</i>
                    </h3>
                    <div class="control has-text-centered">
                        <button class="button is-info is-medium" @click.prevent="changeStep(1)"
                                v-scroll-to="{el: '#steps-view', duration: 700}">
                            Return to step 1
                        </button>
                    </div>
                </template>
            </div>
        </div>
        <transition name="fadeHeight" mode="out-in">
            <template v-if="selectedTiles().length > 0">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <general-form></general-form>
                        <template v-for="selection in selectedTiles()">
                            <transition name="fade" v-bind:key=selection>
                                <tile-form :tile=selection v-bind:key=selection></tile-form>
                            </transition>
                        </template>
                        <submit-form></submit-form>
                    </div>
                </div>
            </template>
        </transition>
        <div class="column is-12"></div>
        <div class="column is-12"></div>
    </section>
</template>

<script>
import TileForm from '@/components/TileForm.vue'
import GeneralForm from '@/components/GeneralForm.vue'
import SubmitForm from '@/components/SubmitForm.vue'

export default {
  components: {TileForm, GeneralForm, SubmitForm},
  name: 'Forms',
  data () {
    return {}
  },
  methods: {
    changeStep (step) {
      console.debug('emitting changeStep from Forms component')
      this.$root.$emit('changeStep', step)
    },
    selectedTiles () {
      console.debug('calling getters.selectedTiles from Forms component')
      return this.$store.getters.selectedTiles()
    }
  },
  provide () {
    return {parentValidator: this.$validator}
  }

}

</script>

<style>
    .box.has-background-warning.has-less-padding {
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }

    .down-arrow {
        border-color: rgba(66, 185, 131, 0.9) transparent;
        border-style: solid;
        border-width: 80px 40px 0px 40px;
        height: 0px;
        width: 0px;
        margin: auto;
    }

    #forms-view {
        padding-top: 0px;
    }

    .no-top-padding {
        padding-top: 0em;
    }

    .has-min-top-padding {
        padding-top: 1em;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    .fadeHeight-enter-active,
    .fadeHeight-leave-active {
        transition: all 0.2s;
        transition-duration: 1.5s;
        max-height: 6000px;
    }

    .fadeHeight-enter,
    .fadeHeight-leave-to {
        opacity: 0;
        max-height: 0px;
    }
</style>
