<template>
    <div class="box has-text-left">
        <div class="columns is-mobile">
            <div class="column is-10">
                <h3 class="title">General Information</h3>
                <h4 class="subtitle">Please enter the following general information below before moving onto the next
                    section</h4>
            </div>
        </div>

        <!--standard input fields-->
        <div class="field">
            <label class="label">Name</label>
            <div class="control has-icons-right">
                <input class="input" name="name" type="text"
                       placeholder="Enter your name" v-model="name"
                       v-validate="'required'"
                       :class="{'is-success': (fields.name && fields.name.valid && fields.name.touched),
                                'is-warning': (fields.name && fields.name.invalid && fields.name.touched)}">
                <span v-show="fields.name && fields.name.valid && fields.name.touched"
                      class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
               </span>
                <span v-show="fields.name && fields.name.invalid && fields.name.touched"
                      class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
               </span>
            </div>
        </div>
        <div class="box has-background-warning has-less-padding" id="field-error-name" v-show="errors.has('name')">
            {{ errors.first('name') }}
        </div>

        <div class="field">
            <label class="label">Surname</label>
            <div class="control has-icons-right">
                <input class="input" name="surname" type="text" placeholder="Enter your surname"
                       v-model="surname"
                       v-validate="'required'"
                       :class="{'is-success': (fields.surname && fields.surname.valid && fields.surname.touched),
                                'is-warning': (fields.surname && fields.surname.invalid && fields.surname.touched)}">
                <span v-show="fields.surname && fields.surname.valid && fields.surname.touched"
                      class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
               </span>
                <span v-show="fields.surname && fields.surname.invalid && fields.surname.touched"
                      class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
               </span>
            </div>
        </div>
        <div class="box has-background-warning has-less-padding" id="field-error-surname"
             v-show="errors.has('surname')">
            {{ errors.first('surname') }}
        </div>

        <div class="field">
            <label class="label">ID Number</label>
            <div class="control has-icons-right">
                <input class="input" name="ID_number" type="text"
                       placeholder="Enter your ID number (this is required to verify quotes)"
                       v-model="ID_number" v-validate="'required|digits:13'"
                       :class="{'is-success': (fields.ID_number && fields.ID_number.valid && fields.ID_number.touched),
                                'is-warning': (fields.ID_number && fields.ID_number.invalid && fields.ID_number.touched)}">
                <span v-show="fields.ID_number && fields.ID_number.valid && fields.ID_number.touched"
                      class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
               </span>
                <span v-show="fields.ID_number && fields.ID_number.invalid && fields.ID_number.touched"
                      class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
               </span>
            </div>
        </div>
        <div class="box has-background-warning has-less-padding" id="field-error-ID_number"
             v-show="errors.has('ID_number')">
            {{ errors.first('ID_number') }}
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-right">
                <input class="input" name="email" type="text"
                       placeholder="Enter the email address we should send the quote to"
                       v-model="email" v-validate="'required|email'"
                       :class="{'is-success': (fields.email && fields.email.valid && fields.email.touched),
                                'is-warning': (fields.email && fields.email.invalid && fields.email.touched)}">
                <span v-show="fields.email && fields.email.valid && fields.email.touched"
                      class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
               </span>
                <span v-show="fields.email && fields.email.invalid && fields.email.touched"
                      class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
               </span>
            </div>
        </div>
        <div class="box has-background-warning has-less-padding" id="field-error-email" v-show="errors.has('email')">
            {{ errors.first('email') }}
        </div>

        <div class="field">
            <label class="label">Contact Number (optional)</label>
            <div class="control has-icons-right">
                <input class="input" type="text" name="contact"
                       placeholder="Enter your contact number if you would like us to call you"
                       v-model="contact" v-validate="'digits:10'"
                       :class="{'is-success': (fields.contact && fields.contact.valid && fields.contact.touched && contact),
                                'is-warning': (fields.contact && fields.contact.invalid && fields.contact.touched && contact)}">
                <span v-show="fields.contact && fields.contact.valid && fields.contact.touched && contact"
                      class="icon is-small is-right has-text-success">
                    <i class="fas fa-check"></i>
               </span>
                <span v-show="fields.contact && fields.contact.invalid && fields.contact.touched && contact"
                      class="icon is-small is-right has-text-warning">
                    <i class="fas fa-exclamation-triangle"></i>
               </span>
            </div>
        </div>

        <div class="box has-background-warning has-less-padding" v-show="errors.has('contact')">
            {{ errors.first('contact') }}
        </div>
    </div>
</template>

<script>
export default {
  name: 'GeneralForm',
  data () {
    return {}
  },
  inject: ['parentValidator'],
  created () {
    this.$validator = this.parentValidator
  },
  computed: {
    name: {
      get () {
        return this.$store.state.userData.name
      },
      set (value) {
        this.$store.commit('updateName', value)
      }
    },
    surname: {
      get () {
        return this.$store.state.userData.surname
      },
      set (value) {
        this.$store.commit('updateSurname', value)
      }
    },
    ID_number: {
      get () {
        return this.$store.state.userData.ID_number
      },
      set (value) {
        this.$store.commit('updateIDNum', value)
      }
    },
    email: {
      get () {
        return this.$store.state.userData.email
      },
      set (value) {
        this.$store.commit('updateEmail', value)
      }
    },
    contact: {
      get () {
        return this.$store.state.userData.contact
      },
      set (value) {
        this.$store.commit('updateContact', value)
      }
    }
  }

}
</script>

<style scoped>

</style>
