<template>
    <div class="hello">
        <section class="hero is-large has-bg-img">
            <div class="hero-body">
                <div class="container has-text-centered image">
                    <!--Alternative options for site name:-->
                    <!--<h2 class="title">UniQuote</h2>-->
                    <!--<h2 class="title">The Quote Unicorn</h2>-->
                    <h2 class="title">The Quote Unicorn</h2>
                    <!--Options for subtitles-->
                    <!--<h3 class="subtitle">Upload an insurance quote and let our unicorns beat it... Or just request one directly.</h3>-->
                    <!--<h3 class="subtitle">Upload any insurance quote and let our unicorns beat it... Or just request one directly.</h3>-->
                    <h3 class="subtitle">Feed our magical unicorn with an insurance quote and watch him (b)eat it.</h3>
                    <button class="button is-primary is-medium is-longer"
                            v-scroll-to="{el: '#three-steps', duration: 700}">
                        Start
                    </button>
                </div>
            </div>
        </section>
        <section id="about-view" class="section has-background-green">
            <div class="columns is-vcentered">
                <div class="column is-5 has-padding-medium">
                    <div class="columns is-centered is-mobile">
                        <div class="column is-3">
                            <figure class="image is-96x96 is-centered has-same-height">
                                <img src="../assets/chat-2.png">
                            </figure>
                        </div>
                        <div class="column is-3">
                            <figure class="image is-96x96 is-centered has-same-height">
                                <img src="../assets/video-conference.png">
                            </figure>
                        </div>
                        <div class="column is-3">
                            <figure class="image is-96x96 is-centered has-same-height">
                                <img src="../assets/coffee.png">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column is-6 has-text-left has-padding-medium">
                    <h2 class="title has-padding-bottom-small">We speak your language</h2>
                    <h3 class="subtitle">We love efficiency! We don’t love call center agents and tricky wording.
                        Instead we shape our service around your preferences – whether it’s WhatsApp, Zoom, email,
                        a phone call or simply grabbing a coffee in person.
                        <br>
                        <br>
                        We are at the forefront of industry innovation and we like to make sure you get to
                        experience the benefit of our unique processes.
                        So go ahead and share your quote with us and we will do our best to beat it.
                        Alternatively, if we think it’s good enough to eat it, we’ll tell you why so you don't have to
                        keep shopping around.
                        We’ll also tell you the parts we don’t like so you don’t get left with a bad taste in your
                        mouth.
                        <br>
                        <br>
                        Now that's peace of mind.
                    </h3>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
  name: 'Info',
  props: {}

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
    .has-bg-img {
        background: white;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 30%), url(../assets/pug-unicorn.jpg);
        background-size: cover;
        background-position: 400px 0px;
        background-repeat: no-repeat;
        background-color: white;
    }

    .has-background-green {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: rgba(66, 185, 131, 0.2);
    }

    .has-padding-medium {
        padding-top: 3em;
        padding-bottom: 5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    .has-padding-bottom-small {
        padding-bottom: 1em;
    }

    .has-padding-4em {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    @media only screen and (max-width: 769px) {
        .has-padding-medium {
            padding-top: 2em;
            padding-bottom: 1.5em;
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    }

    .has-padding-top-small {
        padding-top: 2em;
    }

    @media only screen and (max-width: 769px) {
        .has-padding-top-small {
            padding-top: 2em;
        }
    }

    figure.is-centered {
        margin-right: auto;
        margin-left: auto;
    }

    .has-same-height {
        height: 100%;
    }

    .is-longer {
        padding-left: 3em;
        padding-right: 3em;
    }

</style>
