<template>
    <nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <router-link to="/">
                <a class="navbar-item">
                    <img src="../assets/unicorn.png">
                </a>
            </router-link>

            <a role="button" class="navbar-burger burger" :class="{'is-active': burgerOpen}"
               @click="burgerOpen = !burgerOpen" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" :class="{'is-active': burgerOpen}">
            <div class="navbar-start is-fullwidth">
                <div class="navbar-item">
                    <a class="navbar-item" v-scroll-to="{el: '.hello', duration: 700}">
                        Home
                    </a>
                </div>
                <div class="navbar-item is-fullwidth">
                    <div class="columns is-centered is-fullwidth">
                        <div class="column is-12">
                            <div class="container">
                                <div class="columns is-mobile">
                                    <div class="column is-4" :class="{'is-bordered': $store.state.step === 1}">
                                        <a class="button is-rounded"
                                           :class="{'is-primary': $store.state.step === 1,
                       'is-light': $store.state.step !== 1}"
                                           @click="changeStep(1)"
                                           v-scroll-to="{el: '#steps-view', duration: 700}">
                                            <strong>Step 1</strong>
                                        </a>
                                    </div>

                                    <div class="column is-4" :class="{'is-bordered': $store.state.step === 2}">
                                        <a class="button is-rounded"
                                           :class="{'is-primary': $store.state.step === 2,
                       'is-light': $store.state.step !== 2}"
                                           @click="changeStep(2)"
                                           v-scroll-to="{el: '#steps-view', duration: 700}">
                                            <strong>Step 2</strong>
                                        </a>
                                    </div>

                                    <div class="column is-4" :class="{'is-bordered': $store.state.step === 3}">
                                        <a class="button is-rounded"
                                           :class="{'is-primary': $store.state.step === 3,
                       'is-light': $store.state.step !== 3}"
                                           @click="changeStep(3)"
                                           v-scroll-to="{el: '#steps-view', duration: 700}">
                                            <strong>Step 3</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-end">

                <a class="navbar-item" v-scroll-to="{el: '#about-view', duration: 700}">
                    About
                </a>

                <a class="navbar-item" v-scroll-to="{el: '#contact-view', duration: 700}">
                    Contact
                </a>

                <!--        <div class="buttons">-->
                <!--          <a class="button is-primary">-->
                <!--            <strong>Sign up</strong>-->
                <!--          </a>-->
                <!--          <a class="button is-light">-->
                <!--            Log in-->
                <!--          </a>-->
                <!--        </div>-->
            </div>
        </div>
    </nav>

    <!--    <nav id="nav" class="navbar" role="navigation" aria-label="main navigation">-->
    <!--        <div class="navbar-brand">-->
    <!--            <a class="navbar-item" href="https://bulma.io">-->
    <!--                <img src="https://bulma.io/images/bulma-logo.png"-->
    <!--                     alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">-->
    <!--            </a>-->
    <!--            <a class="navbar-item" href="https://bulma.io">-->
    <!--                <router-link to="/">Home</router-link>-->
    <!--            </a>-->

    <!--            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">-->
    <!--                <span aria-hidden="true"></span>-->
    <!--                <span aria-hidden="true"></span>-->
    <!--                <span aria-hidden="true"></span>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </nav>-->

</template>

<script>
export default {
  name: 'Nav',
  data () {
    return {
      burgerOpen: false
    }
  },
  methods: {
    changeStep (step) {
      console.debug('dispatching changeStep from ThreeSteps component')
      this.$store.dispatch('changeStep', step)
    }
  }
}
</script>

<style scoped>
    .is-fullwidth {
        width: 100%
    }

    .button {
        margin: auto;
    }

    .columns.is-fullwidth {
        margin-right: 6em;
    }

    /*@media only screen and (max-width: 1024px) {*/
    /*    .columns.is-fullwidth {*/
    /*        margin-right: 0;*/
    /*    }*/
    /*}*/

    @media only screen and (max-width: 1024px) {
        .columns.is-centered.is-fullwidth {
            margin-left: 0em;
            margin-right: 0em;
        }
    }

    @media only screen and (min-width: 1024px) {
        .is-bordered {
            border-bottom: 4px solid #42b983;
        }
    }

    @media only screen and (min-width: 1024px) {
        .column.is-4:not(.is-bordered):hover {
            border-bottom: 4px solid rgba(66, 185, 131, 0.2)
        }
    }

</style>
