<template>
    <div class="box has-text-left">
        <div class="columns is-mobile">
            <div class="column is-10">
                <h3 class="title">Submit information</h3>
                <h4 class="subtitle">Submit the information you have supplied above and we will get back to you
                    shortly</h4>
            </div>
        </div>

        <!--radio button input field-->
        <!--helpful resource regarding working with checkboxes and radios in Vue:-->
        <!--https://www.smashingmagazine.com/2017/08/creating-custom-inputs-vue-js/-->
        <div class="field">
            <label class="label">Contact preference</label>
            <div class="columns is-desktop">
                <div class="column">
                    <input class="is-checkradio" id="email-only" name="email-only" type="radio"
                           value="Email only, please" :checked="contact_preference === 'Email only, please'"
                           v-model="contact_preference">
                    <label for="email-only">Email only, please</label>
                </div>
                <div class="column">
                    <input class="is-checkradio" id="call-me" name="call-me" type="radio"
                           value="Give me a call" :checked="'Give me a call' === contact_preference"
                           v-model="contact_preference">
                    <label for="call-me">Give me a call</label>
                </div>
                <div class="column">
                    <input class="is-checkradio" id="meet-over-coffee" name="meet-over-coffee" type="radio"
                           value="Let's meet over coffee" :checked="'Let\'s meet over coffee' === contact_preference"
                           v-model="contact_preference">
                    <label for="meet-over-coffee">Let's meet over coffee</label>
                </div>
                <div class="column">
                    <input class="is-checkradio" id="lets-skype" name="lets-skype" type="radio"
                           value="Let's Skype" :checked="'Let\'s Skype' === contact_preference"
                           v-model="contact_preference">
                    <label for="lets-skype">Let's Skype</label>
                </div>
            </div>
        </div>

        <!--text area input field-->
        <div class="field">
            <label class="label">General Comments</label>
            <div class="control">
            <textarea class="textarea" name="general_comments" v-model="general_comments"
                      placeholder="Let us know if you have any general questions or comments that we could help you with...">
            </textarea>
            </div>
        </div>

        <!--Validate and submit-->
        <div class="control">
            <button class="button is-primary" name="submit" @click="validateBeforeSubmit">Submit information</button>
            <div class="box has-background-warning has-less-padding mas-margin-top-medium"
                 v-show="errors.items.length > 0">
                Please double check that all required fields have been completed before submitting.
            </div>

            <div id="submit-error-msg"
                 class="box has-background-danger has-text-light has-text-bold has-less-padding mas-margin-top-medium"
                 v-show="this.submitError">
                Something went wrong, Please try again later.
            </div>
        </div>

    </div>
</template>

<script>
import store from '../store.js'
import VueScrollTo from 'vue-scrollto'

export default {
  name: 'SubmitForm',
  data () {
    return {
      submitError: false
    }
  },
  inject: ['parentValidator'],
  created () {
    this.$validator = this.parentValidator
  },
  methods: {
    validateBeforeSubmit () {
      const self = this
      self.submitError = false

      this.$validator.validateAll().then((result) => {
        if (result) {
          // eslint-disable-next-line
                        console.debug('dispatching submitForm from SubmitForm component')
          this.$store.dispatch('submitForm').then(function () {
            console.debug('Form data successfully submitted')
            store.dispatch('setSuccess', true)
            store.dispatch('changeStep', 3)
            VueScrollTo.scrollTo('#steps-view')
            // Note: had to import store manually as the following did not work due to "this" undefined:
            // this.$store.dispatch('changeStep', 3)
            // this.$emit('changeStep', 3)
            // this.$store.commit("changeStep", 3)
          })
            .catch(function () {
              console.log('Form data was not submitted successfully')
              self.submitError = true
            })

          return
        }
        console.log('Form contains validation errors')
      })
    }
  },
  computed: {
    contact_preference: {
      get () {
        return this.$store.state.userData.contact_preference
      },
      set (value) {
        this.$store.commit('updateContactPref', value)
      }
    },
    general_comments: {
      get () {
        return this.$store.state.userData.general_comments
      },
      set (value) {
        this.$store.commit('updateGeneralComments', value)
      }
    }
  }
}
</script>

<style scoped>

    .is-checkradio[type=checkbox].is-medium + label {
        font-size: 1rem;
    }

    .mas-margin-top-medium {
        margin-top: 1em;
    }

</style>
