<template>
    <section id="success-view" class="section has-background-white-ter">
        <div class="columns is-centered">
            <div class="column is-12">
                <div class="container">
                    <div class="columns">
                        <div class="column is-4 is-offset-8 no-top-padding">
                            <div class="down-arrow" v-show="$store.state.step === 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container has-text-centered has-padding-medium has-min-top-padding">
            <div class="notification">
                <div class="column">
                    <figure class="image is-96x96 is-centered">
                        <img src="../assets/three.png">
                    </figure>
                </div>
                <div class="column is-3">
                </div>

                <template v-if="selectedTiles().length > 0  && $store.state.success">
                    <div class="columns">
                        <div class="column is-offset-2 is-8">
                            <h2 class="title">Great work!</h2>
                            <h3 class="subtitle">
                                Your query has been submitted successfully.
                            </h3>
                            <div class="column is-12">
                            </div>
                            <div class="box">
                                <h3 class="is-size-5 has-text-justified">
                                    Now it's time to sit back, relax, and give our
                                    unicorn some time to work his magic.
                                    You should receive notice from one of his diligent workers
                                    shortly - we know you will be pleased with the result.

                                    In the meantime, if you wish to contact us for any reason at all, feel
                                    free to do so using the information below.
                                    Alternatively, why not go ahead and submit another quote - it's free!
                                </h3>
                            </div>
                            <div class="column is-12">
                            </div>
                        </div>
                    </div>
                    <template>
                        <div class="control has-text-centered">
                            <button class="button is-info is-medium" @click.prevent="resetForm"
                                    v-scroll-to="{el: '#steps-view', duration: 700}">
                                Submit another
                            </button>
                        </div>
                    </template>
                </template>

                <template v-else-if="selectedTiles().length > 0  && !$store.state.success">
                    <div class="columns">
                        <div class="column is-offset-2 is-8">
                            <h2 class="title">Almost there</h2>
                            <h3 class="subtitle">
                                <i>Please complete step two by supplying the information requested.</i>
                            </h3>
                            <div class="control has-text-centered">
                                <button class="button is-info is-medium" @click.prevent="changeStep(2)"
                                        v-scroll-to="{el: '#steps-view', duration: 700}">
                                    Return to step 2
                                </button>
                            </div>
                        </div>
                    </div>
                </template>

                <template v-else>
                    <div class="columns">
                        <div class="column is-offset-2 is-8">
                            <h2 class="title">Almost there</h2>
                            <h3 class="subtitle">
                                <i>Please select at least one type of insurance from step one.</i>
                            </h3>
                            <div class="control has-text-centered">
                                <button class="button is-info is-medium" @click.prevent="changeStep(1)"
                                        v-scroll-to="{el: '#steps-view', duration: 700}">
                                    Return to step 1
                                </button>
                            </div>
                        </div>
                    </div>
                </template>
                <div class="column is-12"></div>
                <div class="column is-12"></div>
            </div>
        </div>
        <template>
            <div class="columns">
                <div class="column is-8 is-offset-2">
                </div>
            </div>
        </template>
    </section>
</template>

<script>
import store from '../store.js'

export default {
  name: 'success',
  methods: {
    resetForm () {
      console.debug('dispatching loadForms from Success component')
      this.$store.dispatch('loadForms').then(function () {
        store.dispatch('setSuccess', false)
        store.dispatch('changeStep', 1)
      })
    },
    changeStep (step) {
      console.debug('emitting changeStep from Forms component')
      this.$root.$emit('changeStep', step)
    },
    selectedTiles () {
      console.debug('calling getters.selectedTiles from Forms component')
      return this.$store.getters.selectedTiles()
    }
  }
}
</script>

<style scoped>
    .has-min-top-padding {
        padding-top: 1em;
    }

    .section {
        padding-top: 0px;
    }
</style>
