<template>
    <section class="section" id="three-steps">
        <div class="columns">
            <div class="column is-12 has-padding-medium">
                <h2 class="title">Three steps to a better quote</h2>
                <div class="container has-padding-top-small">
                    <div class="columns is-vcentered">
                        <div class="column is-4">
                            <div class="box is-tab-header" id="step1" :class="{'is-active': $store.state.step === 1}"
                                 @click="changeStep(1)" v-scroll-to="{el: '#steps-view', duration: 700}">
                                <div class="columns is-centered is-mobile">
                                    <div class="column is-3">
                                        <figure class="image is-48x48">
                                            <img src="../assets/one.png">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <figure class="image is-96x96 is-centered">
                                            <img src="../assets/finger.png">
                                        </figure>
                                    </div>
                                    <div class="column is-3">
                                    </div>
                                </div>
                                <h3 class="title is-4 is-spaced">Choose insurance type</h3>
                                <p class="subtitle is-5">Start by letting us know what types of insurance you are
                                    interested in by clicking on the appropriate cards below. Select as many as you
                                    want to pass onto step two.
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box is-tab-header" id="step2" :class="{'is-active': $store.state.step === 2}"
                                 @click="changeStep(2)" v-scroll-to="{el: '#steps-view', duration: 700}">
                                <div class="columns is-centered is-mobile">
                                    <div class="column is-3">
                                        <figure class="image is-48x48">
                                            <img src="../assets/two.png">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <figure class="image is-96x96 is-centered">
                                            <img src="../assets/arrows.png">
                                        </figure>
                                    </div>
                                    <div class="column is-3">
                                    </div>
                                </div>
                                <h3 class="title is-4 is-spaced">Upload an existing quote or request a new one</h3>
                                <p class="subtitle is-5">Upload an existing quote from <strong>any</strong>
                                    insurance
                                    broker, and let us know your email address. If you don't already have a quote
                                    that's also ok - just fill in our minimal set of questions and you'll be on your
                                    way.
                                </p>
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="box is-tab-header" id="step3" :class="{'is-active': $store.state.step === 3}"
                                 @click="changeStep(3)" v-scroll-to="{el: '#steps-view', duration: 700}">
                                <div class="columns is-centered is-mobile">
                                    <div class="column is-3">
                                        <figure class="image is-48x48">
                                            <img src="../assets/three.png">
                                        </figure>
                                    </div>
                                    <div class="column">
                                        <figure class="image is-96x96 is-centered">
                                            <img src="../assets/unicorn.png">
                                        </figure>
                                    </div>
                                    <div class="column is-3">
                                    </div>
                                </div>
                                <h3 class="title is-4 is-spaced">Let our beloved unicorn find you a better rate</h3>
                                <p class="subtitle is-5">Once we have your details we will do some fancy footwork to
                                    find
                                    you a more favourable quote. You should find this in your inbox within 2 working
                                    days.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-12">
                <div class="container">
                    <div class="columns is-hidden-mobile">
                        <div class="column is-4">
                            <div class="up-arrow" v-show="$store.state.step === 1">
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="up-arrow" v-show="$store.state.step === 2">
                            </div>
                        </div>
                        <div class="column is-4">
                            <div class="up-arrow" v-show="$store.state.step === 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: 'ThreeSteps',
  data () {
    return {}
  },
  methods: {
    changeStep (step) {
      console.debug('dispatching changeStep from ThreeSteps component')
      this.$store.dispatch('changeStep', step)
    }
  },
  mounted () {
    this.$root.$on('changeStep', (item) => {
      this.changeStep(item)
    })
  }
}
</script>

<style scoped>

    .box.is-tab-header.is-active {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
        transform: scale(1.05);
    }

    .box.is-tab-header:not(.is-active):hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    }

    .up-arrow {
        border-color: lightblue transparent;
        border-style: solid;
        border-width: 0px 40px 40px 40px;
        height: 0px;
        width: 0px;
        margin: auto;
    }

    .section {
        padding-bottom: 0px;
    }

    .has-padding-medium {
        padding-bottom: 0.4em;
    }
</style>
