<template>
    <section id="tiles-view" class="section has-background-white-ter">
        <div class="columns is-centered">
            <div class="column is-12">
                <div class="container">
                    <div class="columns">
                        <div class="column is-4 no-top-padding">
                            <div class="down-arrow" v-show="$store.state.step === 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container has-text-centered has-padding-medium has-min-top-padding">
            <div class="notification">
                <div class="column">
                    <figure class="image is-96x96 is-centered">
                        <img src="../assets/one.png">
                    </figure>
                </div>
                <div class="column is-3">
                </div>

                <h2 class="title">Select one or more financial or wellness instruments</h2>
                <template v-if="selectedTiles().length > 0">
                    <h3 class="subtitle">You are interested in:
                        <strong>{{selectedTiles().join(', ')}}</strong></h3>
                    <div class="control has-text-centered">
                        <button class="button is-info is-medium" @click.prevent="changeStep(2)"
                                v-scroll-to="{el: '#steps-view', duration: 700}">
                            Continue to step 2
                        </button>
                    </div>
                </template>
                <template v-else>
                    <h3 class="subtitle"><i>What can we eat or beat for you today? Choose as many as you like.</i></h3>
                    <div class="control has-text-centered">
                        <button class="button is-static is-medium">Continue to step 2</button>
                    </div>
                </template>
            </div>
        </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">

                <article id="car-insurance" class="tile is-child notification is-primary-green animated t1"
                         :class="{'is-selected': isSelectedTile('Car Insurance')}"
                         @click="toggleTile('Car Insurance')">
                    <p class="title">Car Insurance</p>
                    <p class="subtitle">Protection against road accidents, theft and unforeseen
                        breakdown or mechanical repair.</p>
                    <figure v-show="isSelectedTile('Car Insurance')" class="image pin firstrow">
                        <img src="../assets/finger.png">
                    </figure>
                    <figure class="image is-2by2 tileimg">
                        <img src="../assets/car2.jpg">
                    </figure>
                </article>

                <article id="life-insurance" class="tile is-child notification is-primary-grey animated t2"
                         :class="{'is-selected': isSelectedTile('Life Insurance')}"
                         @click="toggleTile('Life Insurance')">
                    <div class="content">
                        <p class="title">Life Insurance</p>
                        <p class="subtitle">Financial protection for your family in the event of loss of
                            life.</p>
                        <div class="content">
                            <figure v-show="isSelectedTile('Life Insurance')" class="image pin">
                                <img src="../assets/finger.png">
                            </figure>
                            <figure class="image is-1by1 tileimg">
                                <img src="../assets/life1.jpg">
                            </figure>
                        </div>
                    </div>
                </article>

            </div>
            <div class="tile is-parent is-vertical">

                <article id="bond" class="tile is-child notification is-primary-grey animated t3"
                         :class="{'is-selected': isSelectedTile('Bond')}"
                         @click="toggleTile('Bond')">
                    <p class="title">Bond</p>
                    <p class="subtitle">Get a quick estimate today - whether it’s a new bond or refinancing your
                        existing
                        bond.</p>
                    <figure v-show="isSelectedTile('Bond')" class="image pin firstrow">
                        <img src="../assets/finger.png">
                    </figure>
                    <figure class="image is-4by3 tileimg">
                        <img src="../assets/home2.jpg">
                    </figure>
                </article>

                <article id="household-insurance" class="tile is-child notification is-primary-green animated t4"
                         :class="{'is-selected': isSelectedTile('Household Insurance')}"
                         @click="toggleTile('Household Insurance')">
                    <p class="title">Household Insurance</p>
                    <p class="subtitle">Protect all your family’s contents for when the unexpected happens.</p>
                    <div class="content">
                        <figure v-show="isSelectedTile('Household Insurance')" class="image pin">
                            <img src="../assets/finger.png">
                        </figure>
                        <figure class="image is-2by2 tileimg">
                            <img style="display:block" src="../assets/valuables3.jpg">
                        </figure>
                    </div>
                </article>

            </div>
            <div class="tile is-parent is-vertical">

                <article id="vehicle-finance" class="tile is-child notification is-primary-green animated t5"
                         :class="{'is-selected': isSelectedTile('Vehicle Finance')}"
                         @click="toggleTile('Vehicle Finance')">
                    <p class="title">Vehicle Finance</p>
                    <p class="subtitle">Apply for a loan on a new vehicle
                        or refinance an existing vehicle to reduce your monthly repayment.</p>
                    <figure v-show="isSelectedTile('Vehicle Finance')" class="image pin firstrow">
                        <img src="../assets/finger.png">
                    </figure>
                    <figure class="image is-2by2 tileimg">
                        <img src="../assets/keys.jpg">
                    </figure>
                </article>

                <article id="income-protection" class="tile is-child notification is-primary-grey animated t6"
                         :class="{'is-selected': isSelectedTile('Income Protection')}"
                         @click="toggleTile('Income Protection')">
                    <div class="content">
                        <p class="title">Income Protection</p>
                        <p class="subtitle">The most important asset – YOU! Make sure you always have your income
                            protected.</p>
                        <div class="content">
                            <figure v-show="isSelectedTile('Income Protection')" class="image pin">
                                <img src="../assets/finger.png">
                            </figure>
                            <figure class="image is-1by1 tileimg">
                                <img src="../assets/income1.jpg">
                            </figure>
                        </div>
                    </div>
                </article>

            </div>
        </div>
        <div class="column is-8 is-offset-2 has-padding-4em"></div>
    </section>
</template>

<script>
export default {
  name: 'Tiles',
  data () {
    return {}
  },
  methods: { // new Vue obj member
    toggleTile (tilename) {
      console.debug('dispatching toggleTile from Tile component')
      this.$store.dispatch('toggleTile', tilename)
    },
    isSelectedTile (tilename) {
      console.debug('calling getters.isSelectedTile from Tile component')
      return this.$store.getters.isSelectedTile(tilename)
    },
    changeStep (step) {
      console.debug('emitting changeStep from Tile component')
      this.$root.$emit('changeStep', step)
    },
    selectedTiles () {
      console.debug('calling getters.selectedTiles from Tile component')
      return this.$store.getters.selectedTiles()
    }
  }

}
</script>

<style lang="scss" scoped>
    .tile.is-child:not(.is-selected) {
        box-sizing: border-box;
        /*overflow: hidden;*/
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    .tile.is-child:not(.is-selected):hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
    }

    .is-selected {
        overflow: visible;
        border: 4px white solid;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.5);
        /*box-shadow: 1px 1px 5px #555 inset;*/
        transform: scale(1.02);
    }

    .is-selected:after {
        content: " ";
        z-index: 10;
        display: block;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
    }

    .animated:not(.is-selected) {
        animation: float 8s ease-in-out infinite;

        &.t1 {
            animation: float 8s ease-in-out -100s infinite;
        }

        &.t2 {
            animation: float 8s ease-in-out 100ms infinite;
        }

        &.t3 {
            animation: float 8s ease-in-out -650s infinite;
        }

        &.t4 {
            animation: float 8s ease-in-out 50ms infinite;
        }

        &.t5 {
            animation: float 8s ease-in-out -300ms infinite;
        }

        &.t6 {
            animation: float 8s ease-in-out 1000ms infinite;
        }
    }

    @keyframes float {
        0% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
        50% {
            box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
            transform: translatey(-10px);
        }
        100% {
            box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
            transform: translatey(0px);
        }
    }

    /***** Shake *****/

    .tile.is-child:not(.is-selected):hover {
        animation: shake 300ms 1;
        animation-timing-function: ease-in-out;
    }

    @keyframes shake {
        0% {
            transform: rotate(0.5deg);
        }
        50% {
            transform: rotate(-0.5deg);
        }
        100% {
            transform: rotate(0.5deg);
        }
    }

    .image.pin {
        width: 15%;
        height: 15%;
        position: fixed;
        top: 0.1rem;
        right: -1.8rem;
        transform: rotate(-20deg);
        z-index: 9999;
    }

    .image.pin.firstrow {
        right: -1.2rem;
    }

    .down-arrow {
        border-color: rgba(66, 185, 131, 0.9) transparent;
        border-style: solid;
        border-width: 80px 40px 0px 40px;
        height: 0px;
        width: 0px;
        margin: auto;
    }

    .section {
        padding-top: 0px;
    }

    .no-top-padding {
        padding-top: 0em;
    }

    .has-min-top-padding {
        padding-top: 1em;
    }

    .is-primary-green {
        background-color: rgba(66, 185, 131, 0.9);
    }

    .is-primary-grey {
        background-color: rgba(173, 216, 230, 0.8);
    }

    .tile.is-ancestor {
        padding-left: 2em;
        padding-right: 2em;
    }

    p.title, p.subtitle {
        color: rgba(0, 0, 0, 0.8);
    }

    .subtitle {
        font-style: italic;
    }

    .tileimg {
        border: 1px solid rgba(44, 62, 80, 0.6);
    }
</style>
