<template>
    <div class="box has-text-left">
        <div class="columns is-mobile">
            <div class="column is-10">
                <h3 class="title">{{ tile }}</h3>
                <h4 class="subtitle">Upload an existing quote or request a new one before moving onto the next
                    section</h4>
            </div>

            <!--include a "close" toggle icon-->
            <div class="column is-2 is-right">
                <div class="control is-right">
                    <a class="button is-large">
                      <span class="icon is-small" @click.stop="toggleTile(tile)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </span>
                    </a>
                </div>
            </div>
        </div>

        <!--file upload field *or* request a new quote checkbox field-->
        <div class="columns is-vcentered">
            <div class="column">
                <div class="field">
                    <div class="file is-primary is-centered has-name is-boxed has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" :name="tile+'_file_upload'" :ref="tile"
                                   v-on:change="handleFileUpload()" v-validate="'ext:pdf,jpeg,jpg,docx'">
                            <span class="file-cta has-rounded-edges">
                                    <span class="file-icon">
                                      <i class="fas fa-cloud-upload-alt"></i>
                                    </span>
                                    <span class="file-label">
                                      Existing Quote
                                    </span>
                            </span>
                            <span v-show="!!file_upload.name" class="file-name">
                                 {{file_upload.name}}
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="is-divider-vertical" data-content="OR"></div>
            <div class="column is-centered">
                <div class="field">
                    <input class="is-checkradio is-medium" type="checkbox"
                           :name="tile+'_no_file'" :id="tile+'_no_file'"
                           value="this-value-gets-ignored" :checked="!!no_file" v-model="no_file"
                           v-validate="conditionally_required">
                    <label :for="tile+'_no_file'">I would like to request a <strong>new quote</strong></label>
                    <!--helpful resource regarding working with checkboxes and radios in Vue:-->
                    <!--https://www.smashingmagazine.com/2017/08/creating-custom-inputs-vue-js/-->
                </div>
            </div>
        </div>

        <!--text area input fields-->
        <div class="field">
            <label class="label">Additional Comments</label>
            <div class="control">
                    <textarea class="textarea" :name="tile+'_additional_comments'" v-model="additionalComments"
                              placeholder="Let us know if you have any specific questions or comments...">
                    </textarea>
            </div>
        </div>
        <div class="box has-background-warning has-less-padding" :id="'field-error-file-'+tile"
             v-show="errors.has(tile+'_no_file')">
            Please either upload a file or select to request a new quote.
        </div>
        <div class="box has-background-warning has-less-padding" v-show="errors.has(tile+'_file_upload')">
            Please upload a file in one of the accepted formats (.pdf, .jpeg, .jpg or .docx).
        </div>
    </div>
</template>

<script>
import VueScrollTo from 'vue-scrollto'

export default {
  name: 'TileForm',
  props: {
    tile: ''
  },
  data () {
    return {}
  },
  methods: {
    toggleTile (tilename) {
      console.debug('dispatching toggleTile from NewForm component')
      this.$store.dispatch('toggleTile', tilename)

      if (this.$store.getters.selectedTiles().length === 0) {
        VueScrollTo.scrollTo('#steps-view', 1000)
      }
    },
    handleFileUpload () {
      // file upload in Vue js, see:
      // https://serversideup.net/uploading-files-vuejs-axios/
      console.debug('handleFileUpload received this file:', this.$refs[this.tile].files[0])
      this.file_upload = this.$refs[this.tile].files[0]
    }
  },
  inject: ['parentValidator'],
  created () {
    this.$validator = this.parentValidator
  },
  computed: {
    additionalComments: {
      get () {
        return this.$store.state.tileData[this.tile].additionalComments
      },
      set (value) {
        this.$store.commit('updateAdditionalComments', {value: value, tile: this.tile})
      }
    },
    file_upload: {
      get () {
        return this.$store.state.tileData[this.tile].file_upload
      },
      set (value) {
        this.$store.commit('updateFile', {value: this.$refs[this.tile].files[0], tile: this.tile})
      }
    },
    no_file: {
      get () {
        return this.$store.state.tileData[this.tile].no_file
      },
      set (value) {
        this.$store.commit('updateNoFile', {value: value, tile: this.tile})
      }
    },
    conditionally_required () {
      return !this.$store.state.tileData[this.tile].file_upload ? 'required' : ''
    }
  }
}
</script>

<style scoped>
    @import '~bulma-divider';
    @import '~bulma-checkradio';

    .file.is-boxed.has-name .file-cta.has-rounded-edges {
        border-radius: 4px 4px 4px 4px;
    }

    .column.is-centered, .control.is-centered {
        text-align: center;
    }

    .column.is-right, .control.is-right {
        text-align: right;
    }

    .is-divider, .is-divider-vertical {
        margin: 2rem 0;
    }

    .is-checkradio[type=checkbox].is-medium + label {
        font-size: 1rem;
    }

    .is-divider-vertical::before {
        top: 0;
        bottom: 0;
    }

</style>
