<template>
    <div id="app">
        <Nav/>
        <router-view/>
        <Footer/>
    </div>
</template>

<style lang="scss">
    @import '~bulma/bulma';

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    #nav {
        padding: 30px;

        a {
            font-weight: bold;
            color: #2c3e50;

            &.router-link-exact-active {
                color: #42b983;
            }
        }
    }

    #plus {
        padding: 0 20px 0 20px;
        display: inline-block;
        font-size: 50px;
        vertical-align: top;
        line-height: 100px;
    }

    .notification {
        padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    }

</style>
<script>
import Footer from './components/Footer'
import Nav from './components/Nav'

export default {
  components: {Nav, Footer}
}
</script>
